<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ratpack Realtime Dashboard</title>

    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="scripts/event.js" type="text/javascript"/>
</head>
<body>
<script src="scripts/event.js" type="text/javascript"/>
<div ng-controller="statCtrl" ng-init="init()">

    <ul ng-repeat="x in entries">
        <li >{{ x }}</li>
    </ul>

</div>


</body>
</html>